:root {
    --paige-blue: #2A7DE1;
    --paige-red: #F44545;
    --font-size-default: 16px;
    --font-size-textarea: 24px;
    --font-size-heading: 48px;
    --font-size-subheading: 32px;
    --font-size-button: 18px;
    --font-size-footer: 14px;
    --space-lg: 80px;
    --space-md: 40px;
    --padding-sm: 10px;
    --color-gray: #333333;
    --font: "Inter", "Arial", sans-serif;
    --tab-button-width: 60px;
}

body {
    font-family: var(--font) !important;
    font-size: var(--font-size-default);
}

@media (max-width: 600px) {
    body {
        font-size: calc(var(--font-size-default) * 0.8);
    }
}

#initialInputText {
    font-family: "aph_braille_shadowsregular";
}

.form_control {
    height: 34px !important;
}

.fixedbutton {
    width: 8em !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.input-min {
    min-width: 8em;
}

.ico_feedback {
    right: 1em !important;
    top: 3px;
    z-index: 10 !important;
}

.no_overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hide_it {
    display: none;
}

.not_visible {
    visibility: hidden;
}

.no_margin {
    margin: 0 !important;
    line-height: 0;
}

.noshowonlowrestab {}

.btn-svg {
    padding: 4px 0px 0px 0px !important;
    width: 34px !important;
    height: 34px !important;
}

.btn-svg-no_pad {
    padding: 0px 0px 0px 0px !important;
    height: 34px !important;
}

.noshowonlowres {
    display: inline-block;
}

.loadertxt {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 15px 10px;
    text-align: center;
    z-index: 2;
}

.topmarginspace {
    margin-top: 20px
}

.loader {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 1;
}

.loader_centered {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
}


@-webkit-keyframes pulse {
    50% {
        background: red;
    }
}

@keyframes pulse {
    50% {
        background: red;
    }
}

.loader-pulse {
    position: relative;
    width: 0.25em;
    height: 0.4em;
    background: rgba(255, 0, 0, 0.2);
    -webkit-animation: pulse 750ms infinite;
    animation: pulse 750ms infinite;
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
}

.loader-pulse:before,
.loader-pulse:after {
    content: '';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0.25em;
    background: rgba(255, 0, 0, 0.2);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: pulse 750ms infinite;
    animation: pulse 750ms infinite;
}

.loader-pulse:before {
    left: -0.5em;
}

.loader-pulse:after {
    left: 0.5em;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.panel-min-width {
    min-width: 350px;
}

.panel-max-height {
    max-height: 410px;
}

.panel-footer-height {
    min-height: 4em;
}

.panel-scroll {
    overflow-y: scroll;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes pulse {
    50% {
        background: red;
    }
}

@keyframes pulse {
    50% {
        background: red;
    }
}

.list-group-hover:hover {
    background-color: #f5f5f5;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr td,
.table-borderless thead tr th,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}


.panel-footer1 {
    padding: 10px 15px;
    color: #31708f;
    background-color: #f5f5f5;
    border-color: #dddddd;
    border-top: 1px solid #dddddd;
}

.filetext {
    display: block;
    width: 12em;
    min-width: 12em;
    max-width: 12em;
    height: 34px;
    padding: 6px 6px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    text-align: left;
    border: 0px solid #ffffff;
}

.wauto {
    width: auto !important;
}

.w4 {
    width: 4em !important;
}

.w5 {
    width: 5em !important;
}

.w6 {
    width: 6em !important;
}

.w8 {
    width: 8em !important;
}

w14 {
    width: 14em !important;
}

w25 {
    width: 25em !important;
}

.w50 {
    width: 50em !important;
}

@media (max-width: 360px) {
    .container-fluid {
        min-width: 350px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .panel {
        margin-left: -17px;
        margin-right: -13px;
    }

    .pull-left,
    .pull-right {
        float: unset !important;
    }

    noshowonlowrestab,
    .noshowonlowres {
        display: none;
    }
}

@media (min-width: 361px) and (max-width: 640px) {
    .container-fluid {
        min-width: 350px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .panel {
        margin-left: -17px;
        margin-right: -13px;
    }

    noshowonlowrestab,
    .noshowonlowres {
        display: none;
    }
}

.grid-container {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
}

.position-container {
    margin-left: -10px;
    display: inline-grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
}

.position_text {
    font-size: 16px;
    font-weight: bold;
}

.macro-container {
    display: inline-grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto;
}

.panel-flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-flex-center {
    align-items: center;
    justify-content: center;
}

.item-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.item-flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.panel-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.panel-flex-main {
    flex: 1;
}

@media only screen and (max-width: 1200px) {
    .macro-container {
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 800px) and (max-width: 1350px) {
    .fixedbutton {
        width: 6em !important;
    }
}

@media (min-width: 1600px) {
    .fixedbutton {
        width: 6em !important;
    }
}

@media (min-width: 641px) {
    .container-fluid {
        min-width: 350px;
    }

}

.status_text {
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 900;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps slashed-zero;
    ;
    text-transform: none;
}

.td_center {
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

#main_ui {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    display: relative;
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#paigetab.tabcontent {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    #paigetab.tabcontent {
        padding: var(--padding-sm);
    }
}

#paige-textareas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    gap: var(--padding-sm);
}

@media (max-width: 600px) {
    #paige-textareas {
        margin: var(--padding-sm);
    }
}

div.paige-textarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(50vw - 80px);
    min-width: 240px;
}

label.textarea-title {
    font-size: var(--font-size-heading);
    margin-bottom: var(--padding-sm);
    line-height: var(--font-size-heading);
    font-family: var(--font) !important;
    font-weight: 100;
}

@media (max-width: 600px) {
    label.textarea-title {
        font-size: calc(var(--font-size-heading) * 0.8);
        line-height: calc(var(--font-size-heading) * 0.8);
    }
}

.paige-textarea>textarea {
    padding: var(--padding-sm);
    width: 100%;
    margin: 0;
    height: 320px;
    border-radius: 4px;
    font-size: var(--font-size-textarea);
}

.paige-buttons>button {
    height: 60px;
    width: 160px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    flex-wrap: wrap;
}

#save-button {
    background-color: var(--paige-blue);
    border-color: var(--paige-blue);
    color: white;
}

#PAIGEClearButton {
    background-color: white;
    border-color: var(--paige-red);
    color: var(--paige-red);
}

div.paige-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--padding-sm);
    margin-top: var(--space-md);
}

.grade-chooser {
    margin: 0px;
    border-style: solid none;
    border-width: 1px;
    border-color: var(--color-gray);
    padding: 0;
    margin-bottom: var(--space-md);
    padding: var(--padding-sm);
    display: flex;
    gap: var(--padding-sm);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 200;
}

.button-toolbar button:hover {
    background-color: white;
}

.button-toolbar button:focus {
    border: 1px solid var(--color-gray);
}

.button-toolbar button.active {
    background-color: var(--paige-blue);
    border-color: var(--paige-blue);
    color: white;
}

.button-toolbar button {
    display: inline-block;
    background-color: white;
    font-size: var(--font-size-button);
    border: 1px solid var(--color-gray);
    height: var(--space-md);
    min-width: var(--space-md);
    text-align: center;
    line-height: var(--space-md);
    margin: 0;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
}

.button-toolbar {
    justify-content: start;
    display: flex;
    gap: var(--padding-sm);
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

#files_navigation_buttons {
    display: flex;
    gap: var(--padding-sm);
    justify-content: end;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

@media (max-width: 600px) {
    #files_navigation_buttons {
        justify-content: start;
    }
}

#files-title {
    display: inline-flex;
}

@media (max-width: 600px) {
    #files-title {
        display: block;
    }
}

.files-panel-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-sm);
}

#files_navigation_buttons>.btn-primary {
    font-weight: bold !important;
    font-size: var(--font-size-button) !important;
    font-family: var(--font) !important;
    text-align: center;
    padding: var(--padding-sm);
    margin: 0;
}

.item-flex-row-wrap {
    height: 100%;
    justify-content: center;
    align-items: center;
}

#filesPanel>div.panel-heading {
    background-color: white;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
    border-width: 1px;
    border-color: var(--color-gray);
    margin: 0px;
    padding: var(--padding-sm);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--padding-sm);
}

#filesPanel.panel.panel-default {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding: var(--space-md);
    margin: 0px;
}

@media (max-width: 600px) {
    #filesPanel.panel.panel-default {
        padding: var(--padding-sm);
    }
}

#settingstab {
    padding: var(--space-md);
    position: relative;
}

@media (max-width: 600px) {
    #settingstab {
        padding: var(--padding-sm);
    }
}

#settings-header {
    width: 100%;
    background-color: white;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
    border-width: 1px;
    border-color: var(--color-gray);
    margin-bottom: var(--space-md);
    display: flex;
    flex-direction: row;
    gap: var(--padding-sm);
    flex-wrap: wrap;
    padding: var(--padding-sm);
}

#settings-header>button.btn-primary {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#settings-table {
    width: 100%;
}

#settingstab>hr {
    display: none;
}

#settings-title {
    margin-right: auto;
}

@media (max-width: 600px) {
    #settings-title {
        display: block;
        width: 100%;
    }
}

#grade-title {
    flex-grow: 1;
}

#files-title,
#settings-title,
#grade-title {
    font-size: var(--font-size-subheading);
    font-weight: 100;
    margin-right: auto;
}

@media (max-width: 600px) {

    #files-title,
    #settings-title,
    #grade-title {
        font-size: calc(var(--font-size-subheading) * 0.8);
    }

}

#loading-splash-screen {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    bottom: 0px;
    right: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
}

#loading-splash-screen>h1 {
    color: var(--paige-blue);
    display: block;
    text-align: center;
}

footer {
    background-color: var(--color-gray);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0px;
    font-family: var(--font);
    padding: var(--padding-sm);
    font-size: var(--font-size-footer);
    margin-top: var(--padding-sm);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

footer li {
    margin: 0 var(--padding-sm);
    cursor: pointer;
}

#mainuitabscontent {
    height: 100%;
    flex-grow: 1;
}


button.delete-button {
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: 0;
    padding: 0px;
    cursor: pointer;
}

.delete-button:hover,
.delete-button:active {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-buttons {
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: end;
}

.pagination-controls {
    display: flex;
    margin-top: var(--padding-sm);
    flex-direction: row;
    align-items: center;
}

.pagination-controls>button {
    margin-right: var(--padding-sm);
    background-color: transparent;
    color: var(--paige-blue);
    outline-style: none;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
}

#pagination-text {
    font-size: var(--font-size-default);
    color: var(--paige-blue);
    margin-left: var(--padding-sm);
}

.settings-input-group {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
}

.settings-input-group>button,
.settings-input-group>input.form-control,
select.form-control {
    display: inline-flex;
    border-radius: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

button.close {
    padding: 10px;
    color: var(--paige-red);
    font-size: 24px;
    border: none;
    cursor: pointer;
    line-height: 1;
    opacity: 0.8;
    margin-left: auto;
    float: right;
    font-weight: 800;
}

button.close:hover,
button.close:focus {
    color: var(--color-gray);
    text-decoration: none;
    opacity: 1;
}

.step > button {
    font-weight: 800;
}

.filename-text {
    margin-right: auto;
    padding-left: var(--padding-sm);
}

#SPIFFS_uploadbtn {
    margin-left: auto;
}

.scan-wifi-popup {
    z-index: 20000000 !important;
}

#paige-support-link {
    color: white;
    text-decoration: none;
}