nav.tab {
    background-color: var(--paige-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--padding-sm);
    gap: var(--padding-sm);
    align-items: center;
}

ul.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--padding-sm);
    padding: 0;
    margin: 0;
}

nav.tab > ul > li  {
	list-style: none;
	margin: 0;
    padding: 0;
    display: inline-flex;
}

button.tablinks {
    background-color: rgb(24, 88, 171);
    color: white;
    border: none;
    padding: var(--padding-sm);
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--tab-button-width);
    height: var(--tab-button-width);
}

/* Change background color of buttons on hover */
.nav-links button:hover {
    background-color: rgb(24, 71, 132);
}

/* Create an active/current tablink class */
.nav-links button.active {
    background-color: rgb(17, 52, 98);
}

/* Style the tab content */
.tabcontent {
    max-width: 100vw;
}

.paige-logo {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm);
}